#table-div {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 16px;
  }
  
  #table-div th,
  #table-div td {
    font-size: 13px;
    text-align: left; 
    padding: 12px; 
    color: #464646;
  }
  
  #table-div tr {
    border-bottom: 1px solid #ddd;
  }
  
  #table-div tr.header,
  #table-div tr:hover {
    background-color: #e97c4a;
  }

  #input-search {
   
    background-size: 30px;
    background-position: left; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 13px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
  }